<h2>Hello <%= @order.first_name %>,</h2>

<p>
  Your order #<%= @order.id %> status has been updated to:
  <strong><%= @order.status.capitalize %></strong>
</p>

<h3>Order Details:</h3>
<ul>
  <% @order.order_items.each do |oi| %>
    <li><%= oi.item.title %> - Quantity: <%= oi.quantity %></li>
  <% end %>
</ul>

<p><strong>Total Amount:</strong> $<%= @order.total_amount %></p>

<p>Regards, <strong>Dinner Dash</strong>!</p>
