<tr id="<%= dom_id(item) %>">
  <td class="px-6 py-2">
    <%= image_tag(item.image.attached? ? url_for(item.image) : 'unknown.jpeg', alt: item.title, class: 'w-10 h-10 object-cover rounded-sm') %>
  </td>
  <td class="px-6 py-2"><%= item.title %></td>
  <td class="px-6 py-2">$<%= number_to_currency(item.price, unit: '') %></td>
  <td class="px-6 py-2"><%= item.category.name %></td>
  <td class="pl-10 py-2">
    <% if item.retired? %>
      <span class="text-red-600 font-semibold">Yes</span>
    <% else %>
      <span class="text-green-600 font-semibold">No</span>
    <% end %>
  </td>
  <td class="px-6 pt-6 flex gap-3">
    <%= link_to edit_item_path(item), class: "text-blue-600 hover:text-blue-800" do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>

    <%= link_to item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-800" do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </td>
</tr>
