<% content_for :title, "Categories | Dinner Dash" %>

<div class="p-4 min-h-screen">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-xl sm:text-2xl font-bold bruno">Categories</h1>
    <%= link_to new_admin_category_path, class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition flex items-center" do %>
      <i class="fa-regular fa-plus mr-2"></i>
      Add Category
    <% end %>
  </div>

  <div class="bg-white rounded-xl overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-gray-500 text-sm font-medium">Image</th>
          <th class="px-6 py-3 text-left text-gray-500 text-sm font-medium">Category Name</th>
          <th class="px-6 py-3 text-left text-gray-500 text-sm font-medium">Total Items</th>
          <th class="px-6 py-3 text-left text-gray-500 text-sm font-medium">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% if @categories.any? %>
          <% @categories.each do |category| %>
            <tr id="<%= dom_id(category) %>">
              <td class="px-6 py-2">
                <%= image_tag(category.image.attached? ? url_for(category.image) : 'unknown.jpeg', alt: category.name, class: 'w-12 h-12 object-cover rounded') %>
              </td>
              <td class="px-6 py-2"><%= category.name %></td>
              <td class="pl-14 py-2"><%= category.items_count %></td>
              <td class="px-6 pt-6 flex gap-3">
                <%= link_to edit_admin_category_path(category), class: "text-blue-600 hover:text-blue-800" do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>

                <%= link_to admin_category_path(category), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-800" do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4" class="px-6 text-center text-gray-500">
              <%= render 'shared/fallback', text: 'No Categories found' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @categories.any? %>
      <div class="w-full flex justify-center mt-8 text-sm">
        <%= paginate @categories %>
      </div>
    <% end %>
  </div>
</div>
