<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Dinner Dash' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Dinner Dash" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/logo.png" type="image/png" />
    <link rel="apple-touch-icon" href="/logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />

    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="font-[Poppins] text-[0.8rem]">
      <turbo-frame id="flash_messages">
        <%= render 'shared/flash' %>
      </turbo-frame>

      <div class="min-h-screen relative flex bg-gray-100 overflow-x-hidden">
        <%= render 'shared/admin/sidebar' %>
        <main class="absolute mt-20 lg:mt-0 w-full lg:w-[80%] xl:w-[82%] lg:right-0 p-4 lg:p-8 overflow-auto">
          <%= yield %>
        </main>
      </div>
    </main>
  </body>
</html>
