<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Dinner Dash' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Dinner Dash" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/logo.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="font-[Poppins] text-[0.8rem]">
      <turbo-frame id="flash_messages">
        <%= render 'shared/flash' %>
      </turbo-frame>

      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </main>
  </body>
</html>
